{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>

    {% block link %}
    {% endblock link %}
</head>
<body>
    {% block content %}
        {% block menu %}
        <aside class="sidebar glass-card">
            <div class="logo">
                <h2>Access Panel</h2>
            </div>

            <nav class="menu">
                <a class="menu-item" href="{% url 'access_control:control_panel' %}">Панель управления</a>
                <a class="menu-item" href="{% url 'access_control:passes' %}">Список пропусков</a>
                <a class="menu-item" href="{% url 'access_control:create_pass' %}">Создать пропуск</a>
            </nav>
        </aside>
        {% endblock menu %}
    {% endblock content %}
    {% block scripts %}
    {% endblock scripts %}
</body>
</html>