{% extends 'access_control/base.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'access_control/css/dashboard.css'%} ">
{% endblock link %}

{% block content %}
    <div class="dashboard">
        {{ block.super }}
            <div id="form_wrapper">
                <form enctype="multipart/form-data" method="POST">
                    {% csrf_token %}
                    {{ form.as_div }}
                    <input type="submit" value="Зарегистрировать">
                </form>

            </div>
    </div>

{% endblock content %}